.container-2{
      border: 1px solid red;
      width: 75%;
      margin: 0 auto;
      text-align: center;
      }
.flex-box-container{
      display: flex;
      border: 1px solid blue;
      flex-wrap: wrap;
      padding: 10px;
      justify-content:space-around;
}
.flex-box-container img{
      border: 1px solid green;
      box-shadow: 0px 10px 50px rgba(0,0,0.7,0.7);
      }
